/* Recommendation.css */

.recommendation-container {
  /* background-image: url('../image/recom-bg.png');  */
  height: 100%;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 100px;
  padding-left: 180px;
  padding-right: 180px;
  padding-bottom: 100px;
  background-color: #D9D9D9; /* Replace with the actual background color or image */
}

.header {
  text-align: left;
  color: #333; /* Replace with the color used in the design */
  margin-bottom: 30px;
}

.restaurant-list {
  list-style: none;
  padding: 0;
  
}

.restaurant-item {
  display: flex;
  background: linear-gradient(to top, #1a1a1a,black);/* Background color for the item */
  margin-bottom: 20px; /* Space between items */
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Simple box shadow for some depth */
  border-radius: 8px; /* Rounded corners for the container */
  overflow: hidden;
  padding: 1rem;
  color: white;
}

.restaurant-image-wrapper {
  width: 300px; 
  height: 200px; 
  overflow: hidden; 
  border-radius: 1rem; 
  position: 0; 
  margin-right: 13px;
  margin-top: 2px;
}

.restaurant-image {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
  object-position: center; 
  border-radius: 1rem;
}

.restaurant-details {
  padding: 10px;
  flex-grow: 1;
  display: flex;
  width: 50%;
  flex-direction: column;
}

.restaurant-name {
  color: #f5f5dc;
  font-weight: 900;
  font-size: x-large;
  margin: 0;
}

.restaurant-location{
  color: #f5f5dc;
  margin: 5px 0;
  font-weight: 700;
}

.restaurant-dishes{
  color:#f5f5dc;
  margin: 5px 0;
  font-weight: 700;
  width: 100%;
}


.restaurant-cuisine-cost {
  padding: 10px;
  background: linear-gradient(to top, #1a1a1a, black);; /* Background color for cuisine and cost */
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: center;
  align-items: flex-start;
}

.restaurant-cuisine,
.restaurant-cost,
.restaurant-rating {
  /* margin: 8px; */
  color: #f5f5dc;
  font-weight: 700;
}



.go-back-button {
  
    padding: '12px 20px';
    display: 'block';
    margin: 'auto auto 4px auto';
    color: '#f5f5dc';
    background-color:black;
    border-radius: '15px';
    cursor: 'pointer';
    font-weight: 'bold';
    border:  '2px solid black';
  
}

.no-recommendations {
  text-align: center;
  color: #f5f5dc;
}


/* Add media queries for responsive adjustments as needed */
@media (max-width: 768px) {
  .restaurant-item {
    flex-direction: column;
  }

  .restaurant-cuisine-cost {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
    
  }
}
.image-row {
  display: flex;
  background-color: #1a1a1a;
  border-radius: 0.5rem;
  padding: 2rem;
  padding-left: 3rem;
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
}

.image-container {
  margin-right: 20px; /* Adjust as needed for spacing between images */
  text-align: center; /* Center text within container */
}

.image-container img {
  max-width: 100%; /* Ensure images don't exceed container width */
  border-radius: 0.25rem; /* Optional: Add border-radius to images */
}

.close-btn {
  /* position: absolute; */
  /* background-color: ; */
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  color: #f5f5dc; /* Adjust the color as needed */
}

.close-btn:hover {
  color:#262626; /* Adjust the hover color as needed */
}

.transparent-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.transparent-button img {
  width: 20px; /* Adjust the width as needed */
  height: 20px; /* Adjust the height as needed */
}

/* Add this style to make the button visually distinct when focused or hovered */
.transparent-button:focus,
.transparent-button:hover {
  outline: none;
  border: none; /* Add a border for visual distinction */
}
