/* Recommendation.css */

.recommendation-container {
  /* background-image: url('../image/recom-bg.png');  */
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Arial', sans-serif; /* Replace with your preferred font */
  padding-top: 100px;
  padding-left: 180px;
  padding-right: 180px;
  background-color: #ffff; /* Replace with the actual background color or image */
}

.header {
  text-align: left;
  color: #333; /* Replace with the color used in the design */
  margin-bottom: 30px;
}

.restaurant-list {
  list-style: none;
  padding: 0;
  
}

.restaurant-item {
  display: flex;
  background: linear-gradient(to top, #EFBA55, #FFD992);/* Background color for the item */
  margin-bottom: 20px; /* Space between items */
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Simple box shadow for some depth */
  border-radius: 8px; /* Rounded corners for the container */
  overflow: hidden;
  padding: 1rem;
}

.restaurant-image-wrapper {
  width: 150px; 
  height: 150px; /* Adjust the image wrapper size */
  overflow: hidden;
  /* margin: '1rem'; */
}

.restaurant-image {
  width: 100%;
  height: 100%;
 border-radius: 1rem;
}

.restaurant-details {
  padding: 10px;
  flex-grow: 1;
}

.restaurant-name {
  color: black;
  font-weight: 900;
  font-size: x-large;
  margin: 0;
}

.restaurant-location,
.restaurant-dishes {
  color: black;
  margin: 5px 0;
  font-weight: 700;
}

.restaurant-cuisine-cost {
  padding: 10px;
  background: linear-gradient(to top, #EFBA55, #FFD992); /* Background color for cuisine and cost */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.restaurant-cuisine,
.restaurant-cost {
  margin: 8px;
  color: #333;
  font-weight: 700;
}

.go-back-button {
  
    padding: '12px 20px';
    display: 'block';
    margin: 'auto auto 4px auto';
    color: 'black';
    background-color:'#EFBA55';
    border-radius: '15px';
    cursor: 'pointer';
    font-weight: 'bold';
    border:  '2px solid #EFBA55';
  
}

.no-recommendations {
  text-align: center;
  color: #999;
}


/* Add media queries for responsive adjustments as needed */
@media (max-width: 768px) {
  .restaurant-item {
    flex-direction: column;
  }

  .restaurant-cuisine-cost {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
    
  }
}
.image-row {
  display: flex;
  background-color: #EFBA55;
  border-radius: 0.5rem;
  padding: 2rem;
  padding-left: 3rem;
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
}

.image-container {
  margin-right: 20px; /* Adjust as needed for spacing between images */
  text-align: center; /* Center text within container */
}

.image-container img {
  max-width: 100%; /* Ensure images don't exceed container width */
  border-radius: 0.25rem; /* Optional: Add border-radius to images */
}

.close-btn {
  /* position: absolute; */
  /* background-color: ; */
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  color: #333; /* Adjust the color as needed */
}

.close-btn:hover {
  color: azure; /* Adjust the hover color as needed */
}

.transparent-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.transparent-button img {
  width: 20px; /* Adjust the width as needed */
  height: 20px; /* Adjust the height as needed */
}

/* Add this style to make the button visually distinct when focused or hovered */
.transparent-button:focus,
.transparent-button:hover {
  outline: none;
  border: none; /* Add a border for visual distinction */
}

